<section class="slide-2 slide-full">
    <section class="slide-full" data-transition="fade-in" data-transition-speed="fast">
        <div class="title">What is TypeScript?</div>
        <div class="fragment subtitle">An open-source language created by Microsoft</div>
        <div class="fragment subtitle">Static type-checker and ES2015/16/17 transpiler</div>
        <div class="fragment subtitle">First class support for types, classes and modules</div>
        <div class="fragment subtitle">A superset of JavaScript that compiles to plain JavaScript</div>
    </section>
    <section class="slide-full" data-transition="fade-in" data-transition-speed="fast">
        <div class="title">What is TypeScript?</div>
        <div class="ts-sets">
            <svg class="fragment fade-in" width="600px" height="600px" viewBox="0 0 200 200" data-fragment-index="2">
                <circle cx="100" cy="100" r="100" fill="#007ACC" />
                <text x="100" y="50" style="text-anchor: middle; font-size: 1.5rem" fill="#fff">TypeScript</text>
            </svg>
            <svg class="fragment fade-in" width="400px" height="400px" viewBox="0 0 200 200" data-fragment-index="1">
                <circle cx="100" cy="100" r="100" fill="#dedede" />
                <text x="100" y="60" style="text-anchor: middle; font-size: 1.5rem">ES Next</text>
            </svg>
            <svg width="200px" height="200px" viewBox="0 0 200 200" data-fragment-index="1">
                <circle cx="100" cy="100" r="100" fill="#f7df1e" />
                <text x="100" y="100" dy="10" style="text-anchor: middle; font-size: 2rem;font-weight: bold">JS Today</text>
            </svg>
        </div>
    </section>
</section>
