<section class="slide-3 slide-full">
    <div class="title">Why TypeScript?</div>
    <div class="fragment fade-in subtitle">Makes code easier to analyse.</div>
    <div class="fragment fade-in subtitle">Reliable Refactoring.</div>
    <div class="fragment fade-in subtitle">Better IDE Support.</div>
    <div class="fragment fade-in subtitle">Can catch errors early.</div>
    <div class="fragment fade-in subtitle">Incrementally move an existing JavaScript code base to TypeScript.</div>
</section>
