<section class="slide-full">
    <section class="slide-full" data-transition="fade-in" data-transition-speed="fast">
        <div class="title">Functions</div>
        <pre class="fragment fade-in"><code data-lang="ts">// Named function
function add(x, y) {
    return x + y;
}</code></pre>
        <pre class="fragment fade-in"><code data-lang="ts">// Anonymous function
let add = (x, y) =&gt; x + y;</code></pre>
    </section>
    <section class="slide-full" data-transition="fade-in" data-transition-speed="fast">
        <div class="title">Functions</div>
        <pre><code data-lang="ts">// Named function
function add(x: number, y: number): number {
    return x + y;
}

// Anonymous function
let add = (x, y) =&gt; x + y;</code></pre>
    </section>
    <section class="slide-full" data-transition="fade-in" data-transition-speed="fast">
        <div class="title">Functions</div>
        <pre><code data-lang="ts">// Named function
function add(x: number, y: number): number {
    return x + y;
}

// Anonymous function
let add = (x: number, y: number): number =&gt; x + y;</code></pre>
        <pre class="fragment fade-in"><code data-lang="ts">let add: (x: number, y: number) =&gt; number =
    (x: number, y: number): number =&gt; x + y;</code></pre>
        </code>
        </pre>
    </section>
    <section class="slide-full" data-transition="fade-in" data-transition-speed="fast">
        <div class="title">Functions</div>
        <pre><code data-lang="ts">// Named function
function add(x: number, y: number): number {
    return x + y;
}

// Anonymous function
let add = (x: number, y: number): number =&gt; x + y;

let add: (x: number, y: number) =&gt; number =
    (x, y) =&gt; x + y;</code></pre>
        </code>
        </pre>
    </section>
    <section class="slide-full" data-transition="fade-in" data-transition-speed="fast">
         <div class="title">Functions</div>
    </section>
</section>
