<section class="slide slide-full">
    <div class="title">Inferred Types</div>
    <pre class="fragment fade-in"><code data-lang="ts">let someOtherString = 'Yet Another String';</code></pre>
    <pre class="fragment fade-in"><code data-lang="ts">someOtherString = 1234;</code></pre>
    <pre class="fragment fade-in"><code data-lang="ts">// [ts] Type '1234' is not assignable to type 'string'</code></pre>
    <pre class="fragment fade-in"><code data-lang="ts">let userId = (a: string, b:number) => a + b;</code></pre>
    <pre class="fragment fade-in"><code data-lang="ts">// let userId: (a: string, b: number) => string</code></pre>
    <pre class="fragment fade-in"><code data-lang="ts">// try this
let userId = (a: string, b:number): number => a + b;</code></pre>
    <pre class="fragment fade-in"><code data-lang="ts">// [ts] Type 'number' is not assignable to type 'string'</code></pre>
    <pre class="fragment fade-in"><code data-lang="ts">let target = document.getElementById('target');</code></pre>
    <pre class="fragment fade-in"><code data-lang="ts">// let target: HTMLElement | null</code></pre>
</section>
