<section class="slide-full">
     <section class="slide-full" data-transition="fade-in" data-transition-speed="fast">
        <div class="title">Advanced Types</div>
        <div class="subtitle">Intersection Types</div>
    </section>
    <section class="slide-full" data-transition="fade-in" data-transition-speed="fast">
        <div class="title">Advanced Types</div>
        <div class="subtitle">Union Types</div>
    </section>
    <section class="slide-full" data-transition="fade-in" data-transition-speed="fast">
        <div class="title">Advanced Types</div>
        <div class="subtitle">Type Aliases</div>
    </section>
    <section class="slide-full" data-transition="fade-in" data-transition-speed="fast">
        <div class="title">Advanced Types</div>
        <div class="subtitle">Literal Types</div>
    </section>
    <section class="slide-full" data-transition="fade-in" data-transition-speed="fast">
        <div class="title">Advanced Types</div>
        <div class="subtitle">Index types</div>
    </section>
    <section class="slide-full" data-transition="fade-in" data-transition-speed="fast">
        <div class="title">Advanced Types</div>
        <div class="subtitle">Mapped types</div>
    </section>
</section>
